<%- include partials/header.ejs %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p><%= message %></p>
<p>This is just a module of my Portfolio, please keep following on!</p>

<%- include partials/footer.ejs %>
